@font-face{
    font-family: google-m;
    src: url('../fonts/GoogleSans-Medium.ttf');
}
@font-face{
    font-family: google-b;
    src: url('../fonts/GoogleSans-Bold.ttf');
}
@font-face{
    font-family: google-r;
    src: url('../fonts/GoogleSans-Regular.ttf');
}

/* width */
::-webkit-scrollbar {
  width: 6.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::selection{
    background: #58c5c7;
    color: #fff;
}

html{box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: google-r;
}

*,*:before,*:after{
    box-sizing: inherit;
    margin: 0 auto;
    padding: 0;
}

.grid{
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.grid:before, .grid:after,
.row:before, .row:after{
    display: table;
    content: "";
}

.grid:after, .row:after{
    clear: both;
}

.al{
    padding: 2px;
    margin: .3em;
}

[class*="al-"]{
    float: left;
    min-height: 1px;
}

.width{
    width: 100%;
}

@media screen and (min-width:320px)
{
    .al-sm-1 {width: 8.33%;}
    .al-sm-2 {width: 16.66%;}
    .al-sm-3 {width: 25%;}
    .al-sm-4 {width: 33.33%;}
    .al-sm-5 {width: 41.66%;}
    .al-sm-6 {width: 50%;}
    .al-sm-7 {width: 58.33%;}
    .al-sm-8 {width: 66.66%;}
    .al-sm-9 {width: 75%;}
    .al-sm-10 {width: 83.33%;}
    .al-sm-11 {width: 91.66%;}
    .al-sm-12 {width: 100%;}
}

@media screen and (min-width:640px)
{
    .al-md-1 {width: 8.33%;}
    .al-md-2 {width: 16.66%;}
    .al-md-3 {width: 25%;}
    .al-md-4 {width: 33.33%;}
    .al-md-5 {width: 41.66%;}
    .al-md-6 {width: 50%;}
    .al-md-7 {width: 58.33%;}
    .al-md-8 {width: 66.66%;}
    .al-md-9 {width: 75%;}
    .al-md-10 {width: 83.33%;}
    .al-md-11 {width: 91.66%;}
    .al-md-12 {width: 100%;}
}

@media screen and (min-width:960px)
{
    .al-lg-1 {width: 8.33%;}
    .al-lg-2 {width: 16.66%;}
    .al-lg-3 {width: 25%;}
    .al-lg-4 {width: 33.33%;}
    .al-lg-5 {width: 41.66%;}
    .al-lg-6 {width: 50%;}
    .al-lg-7 {width: 58.33%;}
    .al-lg-8 {width: 66.66%;}
    .al-lg-9 {width: 75%;}
    .al-lg-10 {width: 83.33%;}
    .al-lg-11 {width: 91.66%;}
    .al-lg-12 {width: 100%;}
}
  .col-lg-12 {width: 100%;}
}

li{list-style: none;}
a{text-decoration: none;}


h1{font-family: google-b}
p,span{font-family: google-r}



.wreaper{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.bg-step{
    width: 60%;
    margin: 100px auto;
    height: 50px;
}

.garis{
    width: 100%;
    height: 5px;
    background: #EAEAEA;
    position: relative;
    margin-top: 50px;
}

.garis:before{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #FF3B30;
}

.bulat{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF3B30;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.bulat1{
    left: 0;
}

.bulat2{
    left: 0;
    right: 0;
    background: #EAEAEA;
}

.bulat3{
    right: 0;
    background: #EAEAEA;
}

.textBulat{
    width: 150px;
    position: absolute;
    bottom: -220%;
    left: -250%;
    text-align: center;
}
.bg-judul-check{
    width: 100%;
    padding: 50px;
    margin: 50px auto;
    background-color: #FF3B30;
    color: #fff;
    text-align: center;
}

.bg-judul-check p{
    font-size: .8rem;
    letter-spacing: .05rem;
}

.j-check{
    width: 500px;
    margin: auto;
    position: relative;
}

.bg-metode-pembayaran{
    width: 35%;
    margin: 50px auto;
}

.bg-judul-metode-pembayaran{
    text-align: center;
    padding-bottom: 100px;
    position: relative;
    width: 40%;
}


.bg-judul-metode-pembayaran h1:before{
    border : 1px solid #EAEAEA;
    position: absolute;
    width: 200px;
    left: 0;
    margin-top: 20px;
    content: '';
}

.bg-judul-metode-pembayaran h1:after{
    border : 1px solid #EAEAEA;
    position: absolute;
    width: 200px;
    right: 0;
    margin-top: 20px;
    content: '';
}

.bg-judul-metode-pembayaran p{
    width: 500px;
    margin-top: 10px;
}

.kartu-kredit{
    border: 1px solid #FF3B30;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    color: #999;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0,0,0,.2);
}

.pakai-dompet{
    border: 1px solid #f6f6f6;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    color: #999;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 8px rgba(0,0,0,.2);
}

.indomaret{
    border: 1px solid #f6f6f6;
    padding: 20px 0px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    color: #999;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 8px rgba(0,0,0,.2);
}


.overlay-img{
    position: fixed;
    background-color: rgba(0,0,0,0);
    top: 0;
    left: 0;
    z-index: 999;
    width: 0;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: .5s ease-in-out;
}

.overlay-img:target{
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    width: auto;
    height: auto;
}

.overlay-img .btn-close{
    position: absolute;
    font-size: 2rem;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    top: 10%;
    right: 38%;
    opacity: 0;
}

.overlay-img:target .btn-close{
    animation: slideDown .8s .5s ease-in-out forwards;
}


.overlay-img:target .btn-next{
    animation: fadeRight .5s .8s ease-in-out forwards;
}

.overlay-img:target .btn-prev{
    animation: fadeLeft .5s .8s ease-in-out forwards;

}
    
.overlay-img:target .bungkus-popup{
    animation: zoomFade .8s ease-in-out;
}

.bungkus-popup{
    width: 400px;
    height: 650px;
    margin: auto;
    background: #fff;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 10px 20px;
}
.bg-judul-popup{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px;
}
.jdl-kiri{
    text-align: left;
    font-size: 1.5em;
}
.jdl-kanan{
    text-align: right;
    font-size: 1.5em;
}
.jdl-tengah p{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
}

.bg-img-popup{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
}
.bg-img-popup img{
    width: 100%;
}

.bg-form-popup{
    width: 100%;
    margin-top: 30px;
}
.nama-rek p,.form-rek p {
    color: #5e5e5e;
    text-transform: uppercase;
    font-size: 1.1em;
    margin: 0;
    padding: 0;
    text-align: left;
}
.nama-rek input[type='text']{
    width: 100%;
    padding: 15px 7px;
    outline: none;
    margin-top: 5px;
    border : none; 
    background: #eaeaea;
    border-radius: 5px;
    font-size: 1em;
}

.form-rek{
    width: 100%;
    margin-top: 20px;
}
.no-rek input[type='number']{
    width: 95%;
    padding: 15px 7px;
    outline: none;
    margin-top: 5px;
    border : none; 
    background: #eaeaea;
    border-radius: 5px;
}

.konfirmasi-popup p{
    font-size: 0.9em;
    text-transform: capitalize;
    font-weight: 900;
    margin-top: 20px;
}

.btn-popup{
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    background: #FF2D55;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    border: 1px solid #FF2D55;
    cursor: pointer;
}
.btn-popup a{
    width: 100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.btn-popup:hover{
    background: #fff;
}
.btn-popup:hover a{
    color: #FF2D55;
}

.bg-form{
    width: 60%;
    margin: 0 auto;
    padding: 0;
    height: auto;
}
.almt .angka{
    border:1px solid #999;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    content: '';
    text-align: center;
    float: left;
    line-height: 25px;
    color: #999;
}
.almt span{
    margin-left: 10px;
    color: #555;
    font-size: 1.2rem;
}

.bungkus-form{
    margin-top: 10px;
    color: #555;
}
.form-kiri{
    margin: 0;
    padding: 0;
    width: 95%;
}
.nama,.kec{
    margin-top: 20px;
}
.nama input[type='text']{
    width: 100%;
    padding: 10px 7px;
    outline: none;
    margin-top: 5px;
    font-family: google-r;

}
.kec input[type='text']{
    width: 95%;
    padding: 10px 7px;
    outline: none;
    margin-top: 5px;
    font-family: google-r;

}
.form-kanan{
    width: 100%;
}
.nama textarea{
    width: 100%;
    padding: 10px 7px;
    outline: none;
    margin-top: 5px;
    resize: none;
    height: 128px;
    font-family: google-r;

}

.bg-btn-pembayaran{
    margin: 0 auto;
    padding: 0;
    margin-top: 60px;
    text-align: center;
    width: 50%;
    position: relative;
}
.btn-pembayaran a{
    text-decoration: none;
    color: #FF2D55;
    padding: 10px 25px;
    border:1px solid #FF2D55;
    margin: 10px 0;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}
.btn-pembayaran a:hover{
    color: #fff;
    background: #FF2D55;
}

.btn-pembayaran:before{
    border : 1px solid #EAEAEA;
    position: absolute;
    width: 200px;
    left: 0;
    margin-top: 10px;
    content: '';
}

.btn-pembayaran:after{
    border : 1px solid #EAEAEA;
    position: absolute;
    width: 200px;
    right: 0;
    margin-top: 10px;
    content: '';
}

.bg-btn-pembayaran p{
    margin: 30px;
}
.btn-kembali{
    margin-top: 20px;
}
.btn-kembali a{
    text-decoration: none;
    color: #FFF;
    padding: 8px 20px;
    border:1px solid #FF2D55;
    background: #FF2D55;
    margin: 10px 0;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    font-size: 0.9em;
}
.btn-kembali a:hover{
    color: #FF2D55;
    background: #FFF;
}

@keyframes zoomFade{
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDown{
    from{
        margin-top: -20px;
        opacity: 0;
    }
    to{
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes fadeRight{
    from{
        opacity: 0;
        margin-right: -20px;
    }
    to{
        opacity: 1;
        margin-right: 0px;
    }
}

@keyframes fadeLeft{
    from{
        opacity: 0;
        margin-left: -20px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}

@media screen and (max-width: 1366px){
    .detail-kanan{
        padding-left: 50px;

    }
    .detail-big{
        width: 510px;
    }
    .detail-small ul li{
        width: 22%;
    }
    .overlay-img .btn-close{
        top: 5%;
    }
    .overlay-img .btn-prev{
        left: 21%;
    }
    .overlay-img .btn-next{
        right: 21%;
    }

}